<div class="send-leave-request" id="send_leave_request">
    <h2>Send Leave Request</h2>
    {{ form_start(form) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.reason) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>