<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<div class="project-manager-dashboard">
    <div class="navigation">
        <a href="#pending_leave_requests">Leave Requests</a>
        <a href="{{ path('notifications') }}">Notifications</a>
        <a href="{{ path('leave_history') }}">Leave History</a>
        <a href="#approve_leave_requests">Approve Requests</a>
        <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    <div class="leave-balance">
        <h2>Leave Balance: {{ user.leaveBalance }}
            {% if user.leaveBalance != 1 %}
                days
            {% else %}
                day
            {% endif %}
        </h2>
    </div>
    <div class="team-members">
        <h2>Teams</h2>
        {% for team in teams %}
            <div class="team">
                <h3>{{ team.name }}</h3>
                {# <button onclick="{{ path('team_calendar', {'id': team.id}) }}">Team Calendar</button> #}
                {% for member in team.members %}
                    <div class="team-member">
                        <span>{{ member.username }} Leave Balance: {{ member.leaveBalance }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="leave-requests" id="approve_leave_requests">
        <h2>Leave Requests</h2>
        {% for leave_request in leave_requests %}
            <div class="leave-request">
                <span>{{ leave_request.user.username }} | {{ leave_request.request.startDate|date('d/m/Y') }} - {{ leave_request.request.endDate|date('d/m/Y') }}</span>
                <a href="{{ path('approve_leave_request', {'id': leave_request.request.id}) }}">Approve</a>
                <a href="{{ path('reject_leave_request', {'id': leave_request.request.id}) }}">Reject</a>
                <a href="{{ path('leave_request_details', {'id': leave_request.request.id}) }}">Details</a>
            </div>
        {% endfor %}
    </div>
    <div class="leave-requests" id="pending_leave_requests">
        <h2>My Pending Leave Requests</h2>
        {% for request in my_requests %}
            <div class="leave-request">
                <span>{{ request.startDate|date('d/m/Y') }} - {{ request.endDate|date('d/m/Y') }}</span>
                <a href="{{ path('leave_request_details', {'id': request.id}) }}">Details</a>
            </div>
        {% endfor %}
    </div>
    <div id="send_leave_request">
        {% include 'leave_request/create.html.twig' %}
    </div>
</div>
</body>
</html>
